---
title: PilatesPolly
---

<!DOCTYPE html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body data-spy="scroll" data-target="#my-navbar">

  <nav class="header">
      <div class="flex-container">
        <ul class="header__nav">
          <li class="header__nav-item header__nav-item--active">
            <a data-scroll-to="stage" href="#stage">Start</a>
          </li>
          <li class="header__nav-item">
            <a data-scroll-to="about" href="#about">O mnie</a>
          </li>
          <li class="header__nav-item"><!-- class="header__nav-item--dropdownButton" -->
            <a data-scroll-to="pilates" href="#pilates">Pilates</a>
          </li>
          <li class="header__nav-item">
            <a data-scroll-to="offer" href="#offer">Oferta</a>
          </li>
          <li class="header__nav-item">
            <a data-scroll-to="contact" href="#contact">Kontakt</a>
          </li>
        </ul>
      </div>
  </nav>
    <nav>
    <nav>
      <a class="mobileNav" href="#">
        <img class="mobileNav__logo" src="images/mobileNav.svg">
      </a>
      <ul class="mobileNav__nav">
        <li class="mobileNav__nav-item mobileNav__nav-item--menu">
          Menu
        </li>
        <li>
          <a class="mobileNav__nav-item" href="#stage">Start</a>
        </li>
        <li>
          <a class="mobileNav__nav-item" href="#about_us">O nas</a>
        </li>
        <li>
          <a class="mobileNav__nav-item" href="contact.html">Kontakt</a>
        </li>
      </ul>
    </nav>




  <section id="stage" class="section section--stage">
      <div class="jumbotron" id="jumbo">
        <div class="container text-center main_page main">
          <div>
            <a class="header__logo"><img src="images/logo.png"></a>
          </div>
          <div class="transparentBox__column">
              <a class="btn__second" href="oferta.html">  Oferta  </a>
          </div>
          <div class="transparentBox__column">
              <a class="btn__second" href="tel: 506 650 433">574 432 111</a>
          </div>
        </div>
      </div>
  </section>


  <section class="section section__first" id="about">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">O MNIE:</h2>
        <div>
          <p>Przygodę z pilatesem rozpoczęłam w 2015 roku, przygotowując strategię social media dla zagranicznej firmy zajmującej się treningami pilates. Zainteresował mnie ten system ćwiczeń, historia pilates oraz efekty jakie można było uzyskać poprzez regularne treningi. Moja droga w praktyce pilates  rozpoczęła się w listopadzie 2016 roku nie mając wcześniejszych doświadczeń w tego typu ćwiczeniach.  Po  porodzie z cesarskim cięciem miałam ogromne problemy z utrzymaniem prawidłowej postawy. Odczuwałam ponadto silne dolegliwości bólowe  w okolicach kręgosłupa.</p>
          <p>Efekty treningu pilates były w zasadzie spektakularne. Po kilku miesiącach systematycznego treningu ból kręgosłupa praktycznie całkowicie zniknął, a postawa jest już blisko prawidłowej. Z miesiąca na miesiąc odnotowuje kolejne sfery w moim ciele które ulegają poprawie. Pilates zaczął być dla mnie bardzo ważną sferą życia codziennego, zaczęłam zmieniać swoje dotychczasowe postrzeganie świata oraz tego jak można pokierować swoim życiem, Zapragnęłam rozwijać się w tym kierunku i kształcić się aby zdobyć odpowiednie kwalifikacje do prowadzenia przyszłych treningów z własną grupą. Moje grupy treningowe są niewielkie, w większości to treningi indywidualne i bardzo różnorodne. Najważniejsze w moich treningach jest zmiana myślenia oraz nieprawidłowych nawyków. Jest to o tyle ważne gdyż uważam, że najważniejszym celem treningu jest to aby  można było go zastosować w codziennym życiu, oraz przy uprawianiu innych sportów czy innych aktywności.</p>

          <p>Dla mnie osobiście oprócz uzyskanych fizycznych rezultatów (wzmocnienia mięśni stabilizujących i podpierających kręgosłup, a także innych mięśni, dzięki którym pozycja kręgosłupa jest stabilna, poprawy stabilności kręgosłupa) niezwykle ważna była droga mentalna – uzyskanie harmonii, poprzez zwiększenie świadomości własnego ciała, połączenia sfery fizycznej z umysłem. Pilates pomaga umysłowi zapanować nad całym ciałem, doprowadzając do całkowitej harmonii organizmu. Było to szczególnie ważne z uwagi na stany depresyjne, które również zniwelowałam dzięki odnalezieniu swoistego celu życiowego, własnej drogi rozwojowej, pilates uzdrowił nie tylko ciało a także i umysł. Pilates jest unikalnym systemem ćwiczeń, gdyż w wyniku ćwiczeń fizycznych, „wzmocnieniu” ulega sfera psychiczna.  Podkreślana już wcześniej harmonia w mojej opinii jest najważniejszym aspektem, który wyróżnia pilates na tle innych form aktywności fizycznej</p>
        </div>
      </div>
    </div>
  </section>



<section>
<div class="section__second">
</section>



  <section class="section section__third" id="pilates">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">PILATES</h2>
        <div>
            <p>  Pilates to system ćwiczeń fizycznych opracowanych na początku XX wieku przez Josepha Pilatesa, który był niezwykle chorowitym dzieckiem i cierpiał z powodu astmy oraz krzywicy. Nie poddawał się jednak i pokonywał swoje fizyczne ograniczenia uprawiając kulturystykę i gimnastykę. System ćwiczeń pilates, powstał  w wyniku niezwykłej determinacji i silnej woli autora, którego los nie obdarzył silną sylwetką, rozbudowanymi mięśniami, kondycją, a wręcz przeciwnie. Współczesne metody ćwiczeń pilates bazują na systemie stworzonym przez Josepha Pilatesa ale również na doświadczeniu fizjoterapeutów oraz postępie nauki w dziedzinie, medycyny, rehabilitacji i fizjoterapii. Wśród głównych efektów, jakie daje pilates wyróżnić należy:<p>
<p>wzmacnianie mięśni całego ciała,
zapobieganie problemom kręgosłupa,
poprawa postawy ciała,
ujędrnienie sylwetki, redukcja cellulitu,
poprawa koordynacji ruchowej i koncentracji,
uelastycznienie ciała,
relaksacja,
zmniejszenie wagi ciała,
utrwalanie umiejętności prawidłowego oddychania,
osiągnięcie harmonii,
zapobieganie kontuzjom.<p>
   <p>Geometria samego ruchu nie jest tak ważna, gdyż chodzi o zaangażowanie najgłębszych mięśni ciała – tych, które zwykle nie uczestniczą w ćwiczeniach, wykorzystuje się ich dużą ilość jednocześnie, zamiast skupiać się na jednym konkretnym mięśniu, jak ma to miejsce przykładowo na siłowni, daje to efekty w postaci smukłego, elastycznego umięśnienia jak u tancerzy. Pilates jest wspaniałym treningiem dla każdego bez względu na wiek, płeć, budowę ciała czy sprawność fizyczną.</p>
        </div>
      </div>
    </div>
  </section>

    <section class="section" id="contact">
      <div class="section-content">
        <h1 class="section-header">Wyślij wiadomość<span class="content-header wow fadeIn "> do mnie</span></h1>
        <h3>Et laboris id esse veniam reprehenderit ut aliqua exercitation.</h3>
      </div>
      <div class="contact-section">
        <div class="container">
          <form>
            <div class="col-md-6 form-line">
                <div class="form-group">
                  <label for="exampleInputUsername">Twoje Imię</label>
                  <input type="text" class="form-control" id="" placeholder=" wpisz swoje imię">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail" placeholder=" wpisz swój email">
                </div>  
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for ="description"> Wiadomość</label>
                  <textarea  class="form-control" id="description" placeholder="wpisz wiadomość"></textarea>
                </div>
                <div>
                  <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Wyślij</button>
                </div>  
            </div>
          </form>
        </div>
      </div>
    </section>

  <footer>
    <a class="facebookIcon" href="http://www.facebook.com"><i class="fab fa-2x fa-facebook-square"></i></a>
    <span><span class="companyName">PollyPilates</span> © 2018. Wszelkie prawa zastrzeżone.</span>
</footer>

</body>
</html>
